<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ChordRadar</title>
<link rel="icon" href="assets/images/home-placeholder.svg"> <!-- Placeholder icon -->

<link rel="stylesheet" href="assets/css/variables.css">
<link rel="stylesheet" href="assets/css/themes.css">

<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/navbar.css">
<link rel="stylesheet" href="assets/css/controls.css">
<link rel="stylesheet" href="assets/css/fretboard.css">
<link rel="stylesheet" href="assets/css/footer.css">

