<!-- Nav container left -->
<div class="nav-container" data-variant="left">
  <!-- Site logo -->
  <a href="" class="logo">
    <img src="icons/logo.svg" alt="ChordRadar" />
  </a>

  <!-- Anchors for content come here -->
</div>


<!-- Nav container right -->
<div class="nav-container" data-variant="right">

  <!-- Light/Dark mode (theme) Toggle -->
  <button id="theme-toggle" aria-label="Toggle theme">
    <img id="theme-icon" src="icons/moon.svg" alt="Toggle Light/Dark mode" />
  </button>

  <!-- Guitar Settings Dropdown -->
  <div class="dropdown">
    <button class="dropdown-btn" aria-label="Guitar settings">
      <img src="icons/guitar.svg" alt="Guitar Settings" />
    </button>
    <div class="dropdown-content">
      <button class="modal-trigger" data-modal="guitar-settings-modal" data-trigger="general-settings">general</button>
      <button class="modal-trigger" data-modal="guitar-settings-modal" data-trigger="tuning-settings">tuning</button>
      <button class="modal-trigger" data-modal="guitar-settings-modal" data-trigger="style-settings">style</button>
      <button class="modal-trigger" data-modal="guitar-settings-modal" data-trigger="presets-settings">presets</button>
      <button class="modal-trigger" data-modal="guitar-settings-modal" data-trigger="sound-settings">sound</button>
     </div>
  </div>

  <!-- General Settings Dropdown -->
  <div class="dropdown">
    <button class="dropdown-btn" aria-label="Settings">
      <img src="assets/icons/" alt="Settings" />
    </button>
    <div class="dropdown-content">
      <button class="modal-trigger" data-modal="settings-modal" data-trigger="general-settings">General</button>
    </div>
  </div>
</div>
