
<nav class="navbar navbar-expand-sm px-4" style="background-image: url('assets/images/grey-suede1.png');">
    <a class="navbar-brand" href="#">ChordRadar</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button id="theme-toggle" type="button" class="btn btn-outline-secondary btn-sm">
                    <span id="theme-toggle-label">Dark</span>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-primary btn-sm ms-2" id="guitar-settings-btn" type="button">
                    Guitar Settings
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-primary btn-sm ms-2" id="login-btn" type="button">
                    Login
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-primary btn-sm ms-2" id="logout-btn" type="button">
                    Logout
                </button>
            </li>


        </ul>
    </div>
</nav>