

.glass {
    background-color: transparent;
    border: none;

    backdrop-filter: blur(0.8px);
    box-shadow: inset 0px 0px 3px 1px rgba(255, 255, 255, 0.5),
                0px 4px 5px rgba(0, 0, 0, 0.1);
}

.button.glass {
    border-radius: 1000px;
    cursor: pointer;
}

.button.glass:active {
    box-shadow: inset 0px 0px 3px 1px rgba(255, 255, 255, 0.7),
                0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255,0.05);
}