#fretboardContainer {
  margin: 0;
  padding: 0;
  background-color: #373b42;
  overflow-x: auto;
  white-space: nowrap;
}


/*  */
.fretboardColumn {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/*  */
.fretboardCell {
  display: block;
  width: 60px; /* fret width */
  height: 40px;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;

  border: gray 1px solid;

}

/* Last table cell no border 
#guitarNeck div:last-child {
  border-right: none;
}*/

/* Hide native radio button */
.fretboardRadio {
  display: none;
  margin: 0;
  padding: 0;
}

/* Label of radio - used as a "button" for the hidden radio*/
.fretboardRadio + label {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

/* Div inside of label, used as circle marker for checked radio*/
.fretboardRadio + label div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  opacity: 0;
}


.fretboardRadio + label:hover div {
  opacity: 1;
  background-color: orange;
}

/* Circle marker show when selected */
.fretboardRadio:checked + label div {
  opacity: 1;
  background-color: red;
}
