/*
1. Positioning and display
position, top, right, bottom, left, z-index, display, float, clear

2. Box model / dimensions
width, height, min/max-width/height
margin, padding, border, border-radius, box-sizing

3. Typography / text
font, font-size, font-weight, line-height, text-align, text-decoration, color

4. Background / color
background, background-color, background-image, background-position, background-size

5. Effects / visuals
box-shadow, text-shadow, opacity, filter, transition

6. Interaction / pseudo states
cursor, pointer-events

7. Misc / other
overflow, animation, clip, etc.
*/




body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text-primary);

  background-color: var(--color-surface-0);
  z-index: 0  ;
}

a {
  color: var(--color-text-link);
}


