/* navbar.css */

/*
1. Positioning and display
position, top, right, bottom, left, z-index, display, float, clear

2. Box model / dimensions
width, height, min/max-width/height
margin, padding, border, border-radius, box-sizing

3. Typography / text
font, font-size, font-weight, line-height, text-align, text-decoration, color

4. Background / color
background, background-color, background-image, background-position, background-size

5. Effects / visuals
box-shadow, text-shadow, opacity, filter, transition

6. Interaction / pseudo states
cursor, pointer-events

7. Misc / other
overflow, animation, clip, etc.
*/

.navbar {
    height: 60px;
    box-shadow: 
        0px 5px 5px 5px rgba(0, 0, 0, 0.6),
        0px -3px 3px 0px rgba(0, 0, 0, 0.3) inset;
    border: none; /* Remove default border */
}

.navbar button {
    background-image: url('./assets/images/grey-suede1.png');
}