DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=chord_radar
DATABASE_URL=mysql://root:@localhost:3306/chord_radar
PORT=3030
HOST=127.0.0.1

JWT_SECRET=[JWT SECRET]
API_TOKEN_EXPIRATION=3600
API_TOKEN_EXPIRATION_LONG=2592000
EMAIL_TOKEN_EXPIRATION=600
PASSWORD_TOKEN_EXPIRATION=300
APP_NAME=ChordRadar

SMTP_HOST=[SMTP HOST]
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=[SMTP USER]
SMTP_PASS=[SMTP PASS]

DEFAULT_CHORDS_NUMBER=19